@font-face {
  font-family: "Benzin";
  src: url("/Fonts/Benzin-Font-Family/benzin-bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("/Fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("/Fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "PoiretOne";
  src: url("/Fonts/Poiret_One/PoiretOne-Regular.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "FoxMino";
  src: url("/public/Fonts/FoxMino/Fox-Mino-Thin.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "FoxMinoRegular";
  src: url("/public/Fonts/FoxMino/Fox-Mino.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "FTHabitRegular";
  src: url("/public/Fonts/ft-habit-font-family-1749871656-0/FTHabitTrial-Regular.otf")
    format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "FTHabitBold";
  src: url("/public/Fonts/ft-habit-font-family-1749871656-0/FTHabitTrial-Bold.otf")
    format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "FTHabitLight";
  src: url("/public/Fonts/ft-habit-font-family-1749871656-0/FTHabitTrial-Light.otf")
    format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "FTHabitMedium";
  src: url("/public/Fonts/ft-habit-font-family-1749871656-0/FTHabitTrial-Medium.otf")
    format("opentype");
  font-weight: 700;
}

@import "tailwindcss";

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

html {
  scroll-behavior: smooth;
}
